.headerDrawer{
    @apply w-full h-0 bg-black fixed p-4 
    z-50 bg-opacity-80;
    &.show{
        @apply h-20;
        transition: 0.4s;
    }
    &.hide{
        @apply h-0 p-0;
        transition: 0.4s;
    }
    .linkContainer{
        @apply hidden h-fit w-full ;
        &.show{
            @apply flex justify-center;
            transition: 0.4s;
        }
    }
}