.login{
    @apply w-screen h-screen flex flex-col items-center 
    justify-center overflow-hidden justify-between;
    background-image: url('/loginbg.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    // background: rgb(255,226,90);
    // background: linear-gradient(100deg, rgba(255,226,90,1) 0%, rgba(255,128,0,1) 100%);
    .loginForm{
        @apply w-[400px] h-fit min-h-[500px] bg-white shadow-2xl 
        rounded-xl;
        @media (max-width: 1100px) {
            @apply w-[300px];
        }
    }
    .Title{
        @apply w-full text-2xl pt-8 pl-8
        font-semibold flex items-center text-white;
    }
    .Copyright{
        @apply w-full text-sm pb-8 flex justify-around text-white;
        a{
            @apply cursor-pointer;
            &:hover{
                @apply underline;
            }
        }
    }
}