.pageHeader{
    @apply flex flex-col items-center w-full;
    background: rgb(255,175,95);
    background: linear-gradient(130deg, rgba(255,175,95,1) 0%, rgba(255,128,0,1) 100%);
    clip-path: ellipse(100% 55% at 50% 44%);
    .title{
        @apply font-extrabold text-6xl text-text-main;
        transition: 0.3s;
        &:hover{
            text-shadow: 6px 6px 0px rgba(0,0,0,0.2); 
        }
        @media(max-width: 1100px){
            @apply text-2xl;
        }
    }
}