.containerWrap{
    padding: 24px !important;
    padding-bottom: 8px !important;
    @media(max-width: 1100px){
        padding: 0px !important;
    }
    .chartsContainer{
        @apply w-[390px] h-[500px] overflow-y-auto;
        @media(max-width: 1100px){
            @apply h-[290px];
        }
        .title{
            @apply text-lg border-t pt-2;
        }
    }
}