.coordinateSelector{
    @apply w-full h-[40px] rounded-md border 
    border-border cursor-pointer flex items-center justify-between px-2;
    .titleContainer{
        @apply flex items-center;
        p{
            @apply ml-1;
        }
        @media(max-width: 1100px){
            @apply text-xs;
        }
    }
    .regionTitle{
        @apply border-l border-border pl-2;
        @media(max-width: 1100px){
            @apply text-xs;
        }
    }
    .arrow{
        content: '\e6b5';
        color: #999;
        font-size: 12px;
        margin-left: auto;
    }
    &.active{
        @apply border-main-primary;
    }
    @mixin textNoneSelectable {
        -webkit-touch-callout: none; 
        -webkit-user-select: none;
        -khtml-user-select: none; 
        -moz-user-select: none; 
        -ms-user-select: none; 
        user-select: none; 
    }
    @include textNoneSelectable;
}