.countySelector{
    @apply w-[130px] h-[40px] rounded-md border 
    border-border m-2 cursor-pointer flex items-center justify-between px-2;
    .titleContainer{
        @apply flex items-center;
        p{
            @apply ml-1;
        }
    }
    .arrow{
        content: '\e6b5';
        color: #999;
        font-size: 12px;
        margin-left: auto;
    }
    &.show{
        @apply border-main-primary;
    }
}
.popPanel{
    @apply w-[500px] h-fit bg-white absolute 
    rounded-b-md border-t-2
    border-main-primary shadow-2xl hidden p-4 z-50;
    @media(max-width: 1100px){
        @apply w-[300px];
    }
    @keyframes slidein {
        from {
          @apply top-[60px] bg-transparent;
        }
      
        to {
            @apply top-[75px] bg-opacity-100;
        }
    }
    &.show{
        animation-name: slidein;
        animation-duration: 0.2s;
        animation-timing-function: ease-out;
        @apply top-[75px] flex flex-col;
    }
    @mixin textNoneSelectable {
        -webkit-touch-callout: none; 
        -webkit-user-select: none;
        -khtml-user-select: none; 
        -moz-user-select: none; 
        -ms-user-select: none; 
        user-select: none; 
    }
    @mixin chipHover {
        @apply bg-main-primary bg-opacity-10 text-main-primary
        outline-1 outline outline-main-primary;
    }
    .countySection{
        @apply flex flex-col;
        .sectionTitle{
            @apply text-lg;
            @include textNoneSelectable;
        }
        .chipContainer{
            @apply flex flex-wrap;
            .chip{
                @apply px-3 py-1 mr-4 my-2 rounded-md cursor-pointer;
                background-color: #f5f5f5;
                @include textNoneSelectable;
                &:hover{
                    @include chipHover
                }
                &.marked{
                    @apply bg-main-primary bg-opacity-10 text-main-primary;
                    &:hover{
                        @include chipHover
                    }
                }
            }
        }
    }
}



